
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="./css/style.css")
  body
    include ./_alt_txt.pug
    header

    main
      div#pc_lp
        - const pcSectionMax = 10
        - for (let i = 1; i < pcSectionMax; i++)
          div(class="section"+i)
          - var text = "tst";
            img(src="./images/pc_sec"+i+".png" alt=pcAltText[i])

      div#sp_lp
        - const spSectionMax = 10
        - for (let i = 1; i < spSectionMax; i++)
          div(class="section"+i)
            img(src="./images/sp/sp_section"+i+".png" alt="")

    footer

    script(src="./js/main.js")
